:root {
    /* menu */
    --fundo-menu: hsl(30 20% 99% / 0.95);
    --cor-icones-menu: hsl(20, 10%, 50%);
    --transicao-icones-menu: hsl(20, 20%, 12%);
    --radius: 0.75rem;

    /* Página */
    --fundo-pagina: hsl(30 20% 99% / 0.95);
    --titulos: hsl(20, 20%, 12%);
    --subtitulos: hsl(20, 10%, 50%);

    --verde: hsl(142, 50%, 36%);
    --accent: hsl(24, 80%, 55%);
    --vermelho: hsl(0, 72%, 51%);
    --alerta: hsl(38, 92%, 50%);

    --border: hsl(30, 15%, 88%);
    --background: hsl(30, 25%, 97%);
    --card: hsl(30, 20%, 99%);

    --fundo-icone-cadastro: hsl(142, 100%, 90%);
    --fundo-icone-estoque: hsl(0, 100%, 91%);
    --fundo-icone-alerta: hsl(38, 100%, 85%);
    --fundo-alimentos: hsl(30, 10%, 92%);

    --sombra-alimentos: rgba(109, 0, 0, 0.04);

    --vencido: hsl(0 72% 51% / 0.5);
    --vencido-fundo: hsl(0deg 100% 87.97% / 50%);

    --vencendo: hsl(38 92% 50% / 0.5);
    --vencendo-fundo: hsl(38deg 100% 86.89% / 50%);

    --letras-fundo-branco: hsl(0, 0%, 100%);

    --sombra-cadastro: hsl(0, 0%, 67%);
    --sombra-alerta: hsl(0, 0%, 67%);
    --sombra-aviso: hsl(0, 0%, 67%);
    --sombra-blocos: hsl(0, 0%, 67%);

    --fundo-vencendo: hsla(38, 92%, 50%, 0.082);

    --titulo-info: rgb(0, 0, 0);

    --utilizados: hsl(142, 50%, 36%);
    --fundo-utilizados: hsla(142, 53%, 38%, 0.103);

    --comprar: hsl(0, 0%, 43%);
    --fundo-comprar: hsla(0, 0%, 79%, 0.158);

    --preparo: hsl(0, 0%, 43%);
    --fundo-preparo: hsla(0, 0%, 79%, 0.158);
}

h2 {
    margin: 0;
}

/* menu */
.navegacao-inferior {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;

    justify-content: space-evenly;
    align-items: center;

    background: var(--background);

    padding: 8px;

    border-top: 1px solid var(--border);

    z-index: 999;

    overflow-x: auto;
    /* IMPORTANTE */
}

/* ssssssss ssss sssss sssss sssss sssss */

.navegacao-inferior * {
    border: none;
    background-color: transparent;
    text-decoration: none;
}

#nome{width: 100%;}

.item-nav,
.item-nav-ativo {
    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.15rem;

    font-size: 0.7rem;

    color: var(--subtitulos);

    padding: 0.4rem 0.6rem;
    padding-top: 0;

    border-radius: var(--radius);

    font-family: inherit;
}

.item-nav span,
.item-nav-ativo span {
    font-size: 1.15rem;
}

.item-nav-ativo {
    color: var(--primary);
    font-weight: 600;
}




#esp1 * {
    color: var(--cor-icones-menu);
    transition: 0.2s;
}

#esp1:hover * {
    color: var(--transicao-icones-menu);
}

#esp2 * {
    color: var(--cor-icones-menu);
    transition: 0.2s;
}

#esp2:hover * {
    color: var(--transicao-icones-menu);
}

#esp3 * {
    color: var(--cor-icones-menu);
    transition: 0.2s;
}

#esp3:hover * {
    color: var(--transicao-icones-menu);
}

#esp4 * {
    color: var(--cor-icones-menu);
    transition: 0.2s;
}

#esp4:hover * {
    color: var(--transicao-icones-menu);
}

#esquerda * {
    color: var(--cor-icones-menu);
    transition: 0.2s;
}

#esquerda:hover * {
    color: var(--transicao-icones-menu);
}

#direita * {
    color: var(--cor-icones-menu);
    transition: 0.2s;
}

#direita:hover * {
    color: var(--transicao-icones-menu);
}




/* pagina */
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background: var(--fundo-pagina);
    color: var(--titulos);
    -webkit-font-smoothing: antialiased;
}

.aplicativo {
    min-height: 100vh;
    padding-bottom: 80px;
}

.container {
    max-width: 58rem;
    margin: 0 auto;
    padding: 1rem;
}


/* cabeçalio */
.cabecalho {
    margin-bottom: 1.5rem;
}

.cabecalho h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1%;
}

.subtitulo {
    font-size: 0.875rem;
    color: var(--subtitulos);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 5%;
}



/* pesquisa de pratos*/

#tipo {
    font-size: 0.875rem;
    color: var(--titulos);
    font-weight: 700;
    margin-bottom: 0.5%;
}

#pesquisa {
    width: 96%;
    max-width: 1000px;
    margin: 40px auto;
    border: solid 1px var(--border);
    padding: 2%;
    border-radius: 15px;
    transition: 0.35s;
}

#pesquisa:hover{transform: scale(1.03);
    box-shadow:
    0px 10px 20px var(--sombra-cadastro);}

.input {
    width: 98%;
    height: 60px;
    padding: 0 1%;
    border-radius: 20px;
    border: 1px solid var(--border);
}

.btn-sugerir {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid var(--border);
    margin-top: 2%;
    transition: 0.35s;
    font-size: 18px;
    font-weight: 400;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.btn-sugerir:hover {
    transform: scale(1.02);
    box-shadow:
        0px 10px 20px var(--sombra-cadastro);
}


/* cardapio prato */
.flex {
    display: flex;
    align-items: center;
}

#chapeu {
    background-color: var(--border);
    padding: 1%;
    border-radius: 40%;
}

#cartao {
    background-color: var(--background);
    border: solid 1px var(--border);
    width: 96%;
    border-radius: 20px;
    padding: 2%;
    transition: 0.35s;
    overflow: hidden;
    height: 358px;
    transition: 0.35s;
}

#cartao.aberto{min-height: 650px !important;}

#cartao:hover {
    transform: scale(1.01);
    box-shadow:
        0px 10px 20px var(--sombra-cadastro);
}

.subtitulo-prato {
    font-size: 0.875rem;
    color: var(--subtitulos);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subtitulo-prato1 {
    font-size: 0.875rem;
    color: var(--subtitulos);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 4px;
}

#subtitulo-prato3 {
    font-size: 1rem;
    color: var(--subtitulos);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 4px;
}

.subtitulo-vencendo {
    font-size: 0.875rem;
    color: var(--subtitulos);
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#info-prato {
    margin-left: 2%;
}

#card-vencendo {
    display: flex;
    align-items: center;
    border: solid 1px var(--alerta);
    padding: 0.9%;
    border-radius: 12px;
    background-color: var(--fundo-vencendo);
    margin-top: 1.5%;
}

#card-vencendo * {
    color: var(--alerta);
    font-weight: 600;
}

.subtitulo-vencendo {
    margin-left: 1%;
}

#titulo-info {
    color: var(--titulo-info);
}

#utilizados {
    display: flex;
    align-items: center;
    border: solid 1px var(--utilizados);
    padding: 0.9%;
    border-radius: 12px;
    background-color: var(--fundo-utilizados);
    margin-top: 1.5%;
}

#utilizados * {
    color: var(--utilizados);
}

#svg-concluido {
    height: 24px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#comprar {
    display: flex;
    align-items: center;
    border: solid 1px var(--comprar);
    padding: 0.9%;
    border-radius: 12px;
    background-color: var(--fundo-comprar);
    margin-top: 1.5%;
    transition: 0.35s;
    cursor: pointer;
}

#comprar * {
    color: var(--comprar);
}

#comprar:hover{transform: scale(1.01);}


#preparo {
    border: solid 1px var(--preparo);
    padding: 0.9%;
    border-radius: 12px;
    background-color: var(--fundo-preparo);
    width: 50%;
    align-items: center;
    justify-items: center;
    height: 40px;
    position: relative;;
    transition: 0.35s;
    left: 23%;
    top: 4%;
    cursor: pointer;
}

#preparo * {
    color: var(--preparo);
    font-weight: 500;
}

#preparo:hover {
    transform: scale(1.03);
    box-shadow:
        0px 3px 6px var(--sombra-cadastro);
}

#tempo_de_preparo {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 6rem;
}

#porcao {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 30%;
}

#pessoas {
    display: flex;
    width: 100%;
}


/* opção cardapio */
.card-cardapio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    border: 1px solid var(--border);
    padding: 2%;
    border-radius: 16px;
    width: 96%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.35s;
}

.card-cardapio:hover{transform: scale(1.02);}

.esquerda {
    display: flex;
    gap: 16px;
}

/* Estrela  */
.estrela {
    width: 20px;
    height: 20px;
    color: #f59e0b; 
    margin-top: 2px;
}


.tit {
    font-size: 16px;
    font-weight: 600;
    color: #0f172a;
    margin: 0;
}

.sub {
    font-size: 13.5px;
    color: #64748b;
    margin: 0;
}

#srf{margin-bottom: 3px;}

#select{position: absolute;
width: 76%;
height: 500px;
top: 90%;
left: 12%;}
